
.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    padding-top: 1.80rem;

    .title {
      font-size: .96rem;
    }
    .remark {
      font-size: .32rem;
      padding-top: .26rem;
    }
  }

  .middle {
    padding-top: 1.42rem;
    font-size: .32rem;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.68rem;
    .tip {
      padding-bottom: .6rem;
    }
    .loginBtn {
      padding-bottom: .46rem;
    }
    .btnimg {
      width: 3.9rem;
      height: .88rem;
    }

  }
}

